firebaseProjectId=mikinipai
firebaseMeasurementHistoryCollectionName=measurement
firebaseMostRecentMeasurementCollectionName=most_recent_measurements
firebaseServiceAccountJSONPrivateKey=/home/pi/Documents/RuuviCollector/mikinipai-firebase.json
